@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <a>Xin chào , @User.Identity.Name</a>
        }
        else
        {
            <a>Hãy đăng nhập đi</a>

        }
    </p>
</div>
